*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}


.containerNav{
    padding: 3vw;
    width: 100%;
    height: 12vh;
    position: fixed;
    background-color: rgba(0,0,0,.10);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    list-style: none;
}

.containerNav ul li a{
    padding: 0.8vw;
    color: var(--white);
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav ul li:last-child{
    padding-right: 6vw;
}

.containerNav a:hover{
    color: var(--cyan);
}

.containerNav img{
    height: 2.5rem;
}

.containerNav .destaque{
    color: var(--cyan);
}
.containerNav .destaque:hover{
    color: var(--white);
}

.ctaInicio{
    height: 110vh;
    padding-top: 12.5rem;
    background: linear-gradient(rgba(0,0,0,.10),rgba(0,0,0,.10)100%), url('/img/web/s1ft1.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.inicio{
    color: var(--white);
    margin-left: 8vw;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50vw;
    margin-bottom: 1rem;
}

.inicio .title{
    font-weight: 800;
    font-size: 4.5rem;
    margin-bottom: 2rem;
}

.inicio .description{
    font-weight: 400;
    font-size: 1.25rem;
    margin-bottom: 5rem;
}

.inicio .description span{
    font-weight: 600;
    font-size: 1.25rem;
}
.inicio .description p:last-child span{
    color: var(--yellow);
}

.inicio button{
    height: 4rem;
    width: 20rem;
    font-size: 1.25rem;
    border-radius: 2rem;
    color: var(--white);
    background: var(--cyan);
}

footer{
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5rem;
    text-align: end;
    color: var(--white);
    height: 10vh;
    width: 100%;
    background: var(--black);
}