body{
    background-image: url("https://i.pinimg.com/originals/ea/04/cc/ea04cc46ebfc9a11d9737855f09d4cd5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Open Sans',sans-serif;
  }
  
  section{
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 50px 8px rgba(0,0,0,0.59);
    box-shadow: 5px 5px 50px 8px rgba(0,0,0,0.59);
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    margin-top: 100px;
      backdrop-filter: blur(50px);
      background-color: rgba(255, 255, 255, 0.15);
    padding: 15px;
  }
  
  div{
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 15px;
    padding: 15px;
    border: 0.5px solid cyan;
  }
  
  img{
    border: 3px solid cyan;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    height: 140px;
    border-radius: 100%;
    transform: translateY(-38%);
  }
  
  header{
    border-radius: 10px;
    height: 90px;
    background-image: url('https://i.pinimg.com/originals/55/01/60/5501609ee45d514d1f2c4a63502045e2.gif');
  }
  
  h1{
      font-size: 30px;
    text-align: center;
  }

  h2{
    font-size: 25px;
  }
  
li{
    font-size: 20px;
    width: 90%;
}

a{
    text-decoration: none;
    color: white;
}

li:hover{
    transition: 0.3s ease-in-out;
    color:black;
    background-color:cyan;
    border-radius: 10px;
    transform: scale(1.1);
}

span {
    margin: 20px;
    display: flex;
    justify-content: space-around;  
  }